<% if @person and displayable? %>
  <h1><%= @person.name(["en", "en-US"]) %></h1>

  <h2>Brief Biography</h2>

  <% if has_getty_scope_note? %>
    <div>
      <% if has_dbpedia_thumbnail? %>
        <%= image_tag(@person.dbpedia_resource.thumbnail, width: "200px", alt: "Depiction of #{@person.name}", style: "float: right;") %>
      <% end %>
      <p>
        <strong>Description from Getty Linked Open Data:</strong>
        <%= @person.getty_subject.scope_note.value %>
        <% if @person.getty_subject.scope_note.sources.size > 0 %>
          (Sources: <%= @person.getty_subject.scope_note.sources.map(&:short_title).join("; ") %>)
        <% end %>
      </p>
      <p class="attribution">
        <%= link_to @person.getty_uri.to_s, @person.getty_uri.to_s %>
      </p>
    </div>
  <% end %>

  <% if has_wikidata_description? or has_dbpedia_abstract? %>

    <% if has_dbpedia_thumbnail? and ! has_getty_scope_note? %>
      <%= image_tag(@person.dbpedia_resource.thumbnail, width: "200px", alt: "Depiction of #{@person.name}", style: "float: right;") %>
    <% end %>

    <% if has_dbpedia_abstract? %>
      <p>
        <strong>Abstract from DBPedia:</strong>
        <%= @person.dbpedia_resource.abstract %>
      </p>
      <p class="attribution">
        <%= link_to @person.dbpedia_uri.to_s, @person.dbpedia_uri.to_s %>
      </p>
    <% else %>
      <p>
        <strong>Abstract from Wikidata:</strong>
        <%= @person.wikidata_entity.description %>
      </p>
      <p class="attribution">
        <%= link_to @person.wikidata_uri.to_s, @person.wikidata_uri.to_s %>
      </p>
    <% end %>
  <% end %>
  <% if quick_facts? or has_alma_maters? %>
    <p>
      <% if @person.birth_date %>
        <strong>Born:</strong> <%= parse_date(@person.birth_date) %><br>
      <% end %>
      <% if @person.death_date %>
        <strong>Died:</strong> <%= parse_date(@person.death_date) %><br>
      <% end %>
      <% if has_wikidata_work_location? %>
        <strong>Worked in:</strong> <%= @person.wikidata_entity.work_location.name %>
      <% end %>
    </p>

    <% if has_wikidata_entry? %>
      <h2><%= pluralize @person.wikidata_entity.alma_maters.size, "Alma Mater" %></h2>
      <p class="attribution">Source: <%= link_to "Wikidata", @person.wikidata_uri.to_s %></p>
      <% if @person.wikidata_entity.alma_maters.size > 1 %>
        <ul>
          <% @person.wikidata_entity.alma_maters.each do |school| %>
            <li><%= render partial: "school", locals: { school: school } %></li>
          <% end %>
        </ul>
      <% else %>
        <p><%= render partial: "school", locals: { school: @person.wikidata_entity.alma_maters.first } %></p>
      <% end %>
    <% end %>
  <% end %>

  <% if has_noteable_works? %>
    <h2>Notable Works</h2>
    <p class="attribution">Source: <%= link_to "Wikidata", @person.wikidata_uri.to_s %></p>
    <%= render partial: "collection", locals: { collection: @person.wikidata_entity.notable_works } %>
  <% end %>

  <% if has_film_appearances? %>
    <h2>Film Appearances</h2>
    <p class="attribution">Source: <%= link_to "DBPedia", @person.dbpedia_uri.to_s %></p>
    <%= render partial: "collection", locals: { collection: @person.dbpedia_resource.film_appearances } %>
  <% end %>

  <% if intellectual_network? %>
    <h2>Intellectual Network</h2>
    <p class="attribution">Source: <%= link_to "DBPedia", @person.dbpedia_uri.to_s %></p>

    <% if has_influences? %>
      <h3>Influences</h3>
      <%= render partial: "collection", locals: { collection: @person.dbpedia_resource.influences } %>
    <% end %>

    <% if has_influencees? %>
      <h3>Influenced</h3>
      <%= render partial: "collection", locals: { collection: @person.dbpedia_resource.influencees } %>
    <% end %>
  <% end %>

  <h2>Identities on The Web</h2>
  <p>
    <%= link_to @person.loc_uri.to_s, @person.loc_uri.to_s %><br>
    <%= link_to @person.subject.to_s, @person.subject.to_s %><br>
    <%= link_to_if @person.getty_uri, @person.getty_uri.to_s, @person.getty_uri.to_s %><br>
    <%= link_to_if @person.wikidata_uri, @person.wikidata_uri.to_s, @person.wikidata_uri.to_s %><br>
    <%= link_to_if @person.dbpedia_uri, @person.dbpedia_uri.to_s, @person.dbpedia_uri.to_s %><br>
  </p>
<% end %>
